node_modules/
dist/
*.DS_Store
.nyc_output/
coverage/
dist/

# All other idea project files are safe to commit
.idea/workspace.xml
.idea/tasks.xml
.idea/mongoSettings.xml
.idea/watcherTasks.xml
.idea/deployment.xml
.idea/markdown-navigator/
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/sonarlint
